.slider-container {
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.09);
}

.slider {
    display: flex;
    width: 1000%; 
    animation: slide 50s linear infinite;
}

.slider img {
    width: 10%; 
    flex-shrink: 0;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
